In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from src.data import load_raw_data

rides = load_raw_data(year=2020, months=1)

File 2020-01 was already in local storage

In [3]:
rides

            pickup_datetime  pickup_location_id
0       2020-01-01 00:28:15                 238
1       2020-01-01 00:35:39                 239
2       2020-01-01 00:47:41                 238
3       2020-01-01 00:55:23                 238
4       2020-01-01 00:01:58                 193
...                     ...                 ...
6405003 2020-01-31 23:08:00                 191
6405004 2020-01-31 23:00:00                 186
6405005 2020-01-31 23:13:00                 164
6405006 2020-01-31 23:02:54                  10
6405007 2020-01-31 23:56:37                 247

[6404796 rows x 2 columns]